body{
	background: url('http://cdn.wallpapersafari.com/51/98/qWAse0.jpg');
	background-size: cover;
}

.container{
	border: 10px solid darkblue;
	background-color: white;
	opacity: 0.8;
	margin-top: 20px;
}

h1{
	font-family: 'Khula', sans-serif;
	font-size: 60px;
}

input{
	height: 33px;
	width: 100px;
}

#temp-info{
	margin-top: 100px;
	font-size: 26px;
}